#!/usr/bin/env python3

# Link directives to match on. Matching files/directories will be symlinked
# to their target_path
# {directive: (target_path, hidden)}
LINK_DIRECTIVES = {
    'symh': ('$HOME/test', True),
    'symc': ('$HOME/test/.config', False),
    'symfish': ('$HOME/test/.config/fish', False),
    'symbin': ('/usr/bin/', False)
}

# Install directives to match on. These files be executed with their command
# and arguments.
# {directive: (command, ...arguments)}
INSTALL_DIRECTIVES = {
    'install' : ('sh','-c')
}

# Files/directories to ignore. 
# Patterns will eventually be added, but for now, you'll need to 
# specifiy the exact file name as it appears on the 
# system that you want to exclude.
EXCLUDE = {
        '.git' # You probably don't want to remove this one
}

# Colors used for output messages
class bcolors:
    HEADER = '\033[95m'
    OKBLUE = '\033[94m'
    OKGREEN = '\033[92m'
    WARNING = '\033[93m'
    FAIL = '\033[91m'
    ENDC = '\033[0m'
    BOLD = '\033[1m'
    UNDERLINE = '\033[4m'
